.link-caption {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.link-icon {
  width: 24px;
}

@media(max-width: 991px) {
  .link-caption {
    display: none;
  }
}

.tag-container {
  display: flex;
  position: relative;
}
.tag-tag {
  transition: 0.3s;
}
.tag-tag:hover {
  color: #fff;
  background-color: #235536;
}
@media(max-width: 991px) {
  .tag-tag {
    font-size: 12px;
    padding-top: 12px;
    white-space: nowrap;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 12px;
  }
}

.work-work {
  gap: 140px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #151515;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  border-bottom-width: 1px;
}
.work-image {
  width: 417px;
  height: 520px;
  object-fit: cover;
}
.work-details {
  flex: 1;
  height: 520px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.work-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.work-text {
  color: rgb(21, 21, 21);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}
.work-text1 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  line-height: 36px;
}
.work-tags {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
@media(max-width: 991px) {
  .work-work {
    gap: 0px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .work-image {
    width: 100%;
  }
  .work-details {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .work-header {
    gap: var(--dl-space-space-unit);
  }
  .work-heading {
    align-items: center;
  }
  .work-text {
    font-size: 24px;
    line-height: 21px;
  }
  .work-text1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.service-service {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service-description {
  font-size: 22px;
  line-height: 36px;
}






@media(max-width: 991px) {
  .service-service {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service-title {
    font-size: 18px;
    line-height: 16px;
  }
  .service-description {
    font-size: 14px;
    line-height: 21px;
  }
  .service-root-class-name {
    max-width: 100%;
  }
  .service-root-class-name1 {
    max-width: 100%;
  }
  .service-root-class-name2 {
    max-width: 100%;
  }
  .service-root-class-name3 {
    max-width: 100%;
  }
  .service-root-class-name4 {
    max-width: 100%;
  }
  .service-root-class-name5 {
    max-width: 100%;
  }
}

.author-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.author-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.author-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.author-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.author-text1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
}
@media(max-width: 991px) {
  .author-author {
    gap: var(--dl-space-space-unit);
  }
  .author-avatar {
    width: 40px;
    height: 40px;
  }
  .author-text {
    font-size: 16px;
    line-height: 24px;
  }
  .author-text1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.statistic-statistic {
  gap: var(--dl-space-space-threeunits);
  width: 346px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.statistic-sta {
  color: rgb(153, 153, 153);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.statistic-sta1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}






@media(max-width: 991px) {
  .statistic-statistic {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .statistic-sta {
    font-size: 11px;
    line-height: 16.5px;
  }
  .statistic-sta1 {
    font-size: 40px;
    line-height: 36px;
  }
  .statistic-root-class-name {
    width: 100%;
  }
  .statistic-root-class-name1 {
    width: 100%;
  }
  .statistic-root-class-name2 {
    width: 100%;
  }
  .statistic-root-class-name3 {
    width: 100%;
  }
  .statistic-root-class-name4 {
    width: 100%;
  }
  .statistic-root-class-name5 {
    width: 100%;
  }
}

.client-client {
  gap: var(--dl-space-space-threeunits);
  width: 450px;
  display: flex;
  position: relative;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.client-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 36px;
}
.client-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.client-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.client-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.client-text1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.client-text2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
}


@media(max-width: 991px) {
  .client-client {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .client-text {
    font-size: 16px;
    line-height: 24px;
  }
  .client-author {
    gap: var(--dl-space-space-unit);
  }
  .client-avatar {
    width: 40px;
    height: 40px;
  }
  .client-text1 {
    font-size: 16px;
    line-height: 24px;
  }
  .client-text2 {
    font-size: 16px;
    line-height: 24px;
  }
  .client-root-class-name {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .client-root-class-name1 {
    width: 100%;
  }
}

.item-item {
  position: relative;
}
.item-details {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.item-text {
  color: #ffffff;
  width: 190px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.item-text1 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.item-icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}
@media(max-width: 991px) {
  .item-item {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .item-details {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .item-text {
    font-size: 16px;
    line-height: 24px;
  }
  .item-text1 {
    font-size: 14px;
    line-height: 21px;
  }
  .item-icon {
    width: 12px;
    height: 12px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.3s;
}
.home-logo:hover {
  transform: rotate(360deg);
}
.home-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text04 {
  color: rgb(255, 255, 255);
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-button1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-text05 {
  color: #ffffff;
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home-company1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-items1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text10 {
  color: #ffffff;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 150px;
}
.home-title {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 128px;
  max-width: 895px;
  font-weight: normal;
  line-height: 115px;
  text-transform: uppercase;
}
.home-description {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.home-video {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-video1 {
  flex: 1;
  width: 100%;
}
.home-description1 {
  width: 100%;
  display: flex;
  max-width: 1280px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  border-top-width: 1px;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text11 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-paragraph {
  font-size: 32px;
  line-height: 48px;
}
.home-paragraph1 {
  font-size: 32px;
  line-height: 48px;
}
.home-text12 {
  color: #ffffff;
}
.home-featured {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-link {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-client {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-text13 {
  font-size: 32px;
  max-width: 900px;
  line-height: 48px;
}
.home-text14 {
  color: #ffffff;
}
.home-services {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-header2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.home-grid {
  flex: 1;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #151515;
}
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  border-color: #FFFFFF;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-company2 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}
.home-description2 {
  color: #ffffff;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.home-statistics {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 200px;
  justify-content: space-between;
}
.home-text15 {
  color: rgb(255, 255, 255);
}
.home-statistic-list {
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
  grid-template-columns: auto auto;
}
.home-clients {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
}
.home-header4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-title3 {
  color: rgb(255, 255, 255);
}
.home-grid1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-column {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-direction: column;
}
.home-column1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-direction: column;
}
.home-client-list {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-title4 {
  color: rgb(255, 255, 255);
}
.home-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text16 {
  color: #999999;
  font-size: 24px;
  line-height: 36px;
}
.home-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-row1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text17 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-information {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 60px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-header6 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-branding2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo2 {
  width: 50px;
  filter: brightness(0) saturate(100%) invert(27%) sepia(9%) saturate(2615%) hue-rotate(90deg) brightness(92%) contrast(87%);
  height: 50px;
  object-fit: cover;
}
.home-company3 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.home-location {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption {
  color: #151515;
  font-size: 24px;
  line-height: 36px;
}
.home-value {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-location1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption1 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  line-height: 36px;
}
.home-value1 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-button6 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-text18 {
  color: rgb(255, 255, 255);
}
.home-links2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home-image1 {
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .home-button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text04 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-button1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .home-text05 {
    display: none;
  }
  .home-button2 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-title {
    font-size: 40px;
    line-height: 36px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-description1 {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text11 {
    gap: var(--dl-space-space-unit);
  }
  .home-paragraph {
    font-size: 18px;
    line-height: 27px;
  }
  .home-paragraph1 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-button3 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text12 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header1 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-link {
    display: none;
  }
  .home-client {
    padding-top: var(--dl-space-space-threeunits);
    border-color: transparent;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text13 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-button4 {
    font-size: 16px;
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home-text14 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-services {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-top-width: 1px;
  }
  .home-grid {
    display: flex;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-about {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header3 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-company2 {
    font-size: 30px;
    line-height: 27px;
  }
  .home-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-statistics {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-button5 {
    font-size: 16px;
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home-text15 {
    font-style: normal;
    font-weight: 500;
  }
  .home-statistic-list {
    width: 100%;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-clients {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-header4 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-grid1 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-column1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-client-list {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header5 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-row {
    flex-direction: column;
  }
  .home-text16 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list1 {
    width: 100%;
  }
  .home-row1 {
    flex-direction: column;
  }
  .home-text17 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list2 {
    width: 100%;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-logo2 {
    width: 25px;
    height: 25px;
  }
  .home-company3 {
    font-size: 15px;
    line-height: 18px;
  }
  .home-caption {
    font-size: 14px;
    line-height: 21px;
  }
  .home-value {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-value1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-button6 {
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home-text18 {
    font-style: normal;
    font-weight: 500;
  }
  .home-links2 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 320px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-logo {
    width: 36px;
    height: 36px;
  }
  .home-company {
    font-size: 18px;
    line-height: 20px;
  }
  .home-items {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button1 {
    padding: 12px;
  }
  .home-image {
    width: 14px;
    height: 14px;
  }
  .home-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
